* {margin:0; 
   padding:0; 
   box-sizing: border-box;}

body{
   font-family: Future, sans-serif;}

header {
   display: flex;
   justify-content: start;
   align-items:center;
   margin-left: auto;
   font-size: calc(8px + 2vw); 
   text-align: center; 
   background-color: #ffd800;
   border-bottom: black; 
   padding: 20px 0;
}

#description{
   text-align: center; 
   padding-top: 150px; 
   padding-bottom: 150px;
   background-color: #CDF3FF;
}

#team{
   text-align: center;
   padding-bottom: 100px;
}

.row {
   display: flex;
}

.intern {
   position: relative;
   text-align: center;
   color: black;
   flex: 33.33%;
}

/* On mouse-over, add shadow */
.intern:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
   padding: 2px 0px;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgb(10, 10, 71);
}

li {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 250px;
   text-decoration: none;
}

li a:hover {
   background-color: #ffd800;
}

footer {clear: both; 
   background-color: #ffd800; 
   text-align: center; 
   padding: 5px;
   font-size: calc(5px + 1vw);
   bottom: 0;
}

footer p {padding: 5px; color: black;}
